<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail Capture</title>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <nav class="nav-bar">
            <ul>
                <li>
                    {{!-- <img class="" src="/images/drinks_nav_image.jpeg" alt="..."> --}}

                    <a href="/profile"><button class="nav-button" id="profile">Profile</button></a>

                    <a href="/menu"><button class="nav-button" id="menu">Menu</button></a>

                    <a href="#contact"><button class="nav-button" id="bar">Bar</button></a>

                    {{#if logged_in}}
                    <p id="logout" class="nav-button">Logout</p>
                    {{/if}}
                </li>
            </ul>
        </nav>
    </header>

    <body>
        {{{body}}}

        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
    </body>

</html>