<div>
  <h2>Creating Recipe</h2>
  <form id="recipe-form">
    <div>
      <label for="cocktail-name">Cocktail Name: </label>
      <input name="cocktail-name" type="text" id="cocktail-name" />
    </div>
    <div>
      <label for="description">Recipe: </label>
      <input type="text" id="description" />
    </div>

    <br>

    <!-- Code for initial ingredient entry.  Additional entries added dynamically -->
    <div id="ingredient-form">

    </div>

    <div>
      <button type="button" id="add">Choose Ingredient</button>
    </div>
    <br>
    <!-- -->
    <div>
      <button type="submit">Serve</button>
    </div>
  </form>
</div>
<script src="./js/create.js"></script>