<div>
  <h2>Creating Recipe</h2>
  <form id="recipe-form">
    <div>
      <label for="cocktail-name">Cocktail Name: </label>
      <input name="cocktail-name" type="text" id="cocktail-name" />
    </div>
    <div>
      <label for="description">Recipe: </label>
      <input type="text" id="description" />
    </div>
    <div>
      <label for="strDrinkThumb">Recipe Image: </label>
      <input name="strDrinkThumb" type="text" id="strDrinkThumb" />
    </div>
    <div>
      <label for="strInstructions">Recipe Instructions: </label>
      <input name="strInstructions" type="text" id="strInstructions" />
    </div>
    <div>
      <label for="strIngredients">Ingredients List: </label>
      <input name="strInsgredients" type="text" id="strIngredients" />
    </div>
    {{!-- <div>
      <label for="recipe-input">In </label>
      <input type="password" id="recipe-input" />
    </div> --}}
    <div>
      <button type="submit">Serve</button>
    </div>
  </form>
</div>
<script src="../js/create.js"></script>