<div>
  <h2>creating recipe</h2>
  <form id="recipe-form">
    <div>
      <label for="cocktail-name">Cocktail Name: </label>
      <input type="text" id="cocktail-name" />
    </div>
    <div>
      <label for="recipe-input">Recipe: </label>
      <input type="text" id="recipe-input" />
    </div>
    {{!-- <div>
      <label for="recipe-input">In </label>
      <input type="password" id="recipe-input" />
    </div> --}}
    <div>
      <button type="submit">Serve</button>
    </div>
  </form>
</div>
<script src="../js/create.js"></script>