    <main>
        <div class="card">
            <div class="cocktail-name">
                <h1>{{{cocktail.name}}}</h1>
            </div>
            
            <div class="cocktail-ingredients">
                
                <div class="cocktail-image">
                    <img src="./images/cherry_gin.jpeg" alt="cherry_gin">
                </div>

                <h2 class="card-heading">Ingredients</h2>
                <p class="recipe">                    
                    <ol>
                        <li>1 and 1/2 oz. gin (I used the combination of Empress 1908 and strawberry gin)</li>
                        <li>2 oz. cherry liquor</li> 
                        <li>2/3 – 1 oz. freshly squeezed lemon juice</li>
                        <li>a handful of ice</li>    
                        <li>mint and cherries, for garnish</li>
                    </ol>
                </p>
            </div>

            <button class="add-to-cart-btn">Cheers!</button>
        </div>
    </main>