<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="view" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="https://cdn.tailwindcss.com" rel="stylesheet">
     <link rel="stylesheet" href="/css/reset.css"> 
     <link rel="stylesheet" href="/css/styles.css"> 
     <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<header class="bg-white">
<nav class="flex justify-between items-center 2-[92%] mx-auto">
    <div>
        <img class="w-16" src="/images/drinks_nav_image.jpeg" alt="...">
    </div>
    <div class="nav-links duration-500 md: static absolute bg-black md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
        <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
            <li>
                <a class="hover:text-gray-500" href="#">Profile</a>
            </li>
            <li>
                <a class="hover:text-gray-500" href="#">Menu</a>
            </li>
            <li>
                <a class="hover:text-gray-500" href="#">Bar</a>
            </li>
        </ul>
    </div>
            <div class="flex items-center gap-6">
                <button class="bg-[#a6c1ee] text-white px-5 py2">Login</button>
                <ion-icon onclick="onToggleMenue(this)" name="menu-outline" class="text-3xl cursor-pointer md:hidden"></ion-icon>
            </div>
            <div>
                <button class="bg-[#a6c1ee] text-white px-5 py2">Logout</button>
            </div>

</nav>
</header>

<script>
    const navLinks = document.querySelector('.nav-links');
    function onToggleMenue(e) {
        e.name = e.name === 'menu' ? 'close' : 'menu';
        navLinks.classList.toggle('top-[9%]');
    }
</script>

</html>